{% extends ':default:layout.html.twig' %}
{% block page_header %}{% if edit is not defined %}添加案例{% else %}编辑案例{% endif %}<span class="pull-right" style="font-size: 16px"><a href="{{ path('case_base_list') }}"><i class="fa fa-angle-double-left"></i>返回案例列表</a></span> {% endblock %}
{% block content %}
    {{ form(form) }}
{% endblock %}
{% block private_js %}
    <script>
        $('#assistance').addClass('open');
        $('#case_base').addClass('active');
    </script>
{% endblock %}